---
layout: base
title: Selenium for Android
author: Dominik Dary 
---
.hero-unit
  %h1 Selendroid
  %p "Selenium for Android": Test automate native or hybrid Android apps and the mobile web with Selendroid.
  %p
    %a.btn.btn-primary.btn-large{ :href=>site.setup_page }
      %i.icon-info-sign.icon-white
      Getting Started &raquo;
.row
  .span4
    %h2 About
    %p Selendroid is a test automation framework which drives off the UI of Android native and hybrid applications (apps) and the mobile web. Tests are written using the Selenium 2 client API.
  .span4
    %h2 Devices
    %p Selendroid can be used on emulators and real devices and can be integrated as a node into the Selenium Grid for scaling and parallel testing.
  .span4
    %h2 Concept
    %p The documentation specifies how to install and use Selendroid itself. The use of Selendroid requires knowledge about how to use Selenium. The official documentation of the WebDriver client API can be found <a href="http://docs.seleniumhq.org/docs/03_webdriver.jsp">here</a>. 
.row
  .span12
    %h2 Features of Selendroid
    %ul
      %li
        The app under test must not be modified in order to automate it
      %li
        Testing the mobile web using built in <a href="#{site.mobile_web_page}">Android driver webview app</a>
      %li
        The concept of automating native or hybrid apps are the same
      %li
        UI elements can be found by different locator types
      %li
        Gestures are supported: <a href="#{site.gestures_page}">Advanced User Interactions API</a>
      %li
        Selendroid can interact with multiple Android devices (emulators or hardware devices) at the same time
      %li
        Existing Emulators are started automatically
      %li
        Selendroid supports hot plugging of hardware devices
      %li
        It can be integrated as a node into the Selenium Grid for scaling and <a href="#{site.scale_page}"> parallel testing</a>
      %li
        Multiple Android target API support (10 to 19)
      %li
        Built in <a href="#{site.inspector_page}">Inspector</a> to simplify test case development.

.row
  .span12
    %h2 #{site.title} Version #{site.current_version} Downloads
    .row
      .span4
        %p All artifacts are available in Maven central:
        %a.btn.btn-primary.btn-large{ :href=>"#{site.selendroid_maven_search_link}", :target=>"external"} Search &raquo;
      .span4
        %p Selendroid Standalone with dependencies:
        %a.btn.btn-primary.btn-large{ :href=>"#{site.standalone_download_link}" } Download Jar &raquo;
      .span4
        %p Selendroid Test App (for playing with the tool):
        %a.btn.btn-primary.btn-large{ :href=>"#{site.selendroid_test_app_download_link}" } Download apk &raquo;