!!!5
%html
  %head
    %meta{ :'http-equiv'=>"content-type", :content=>"text/html; charset=utf-8" }
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %title
      #{site.title}: #{page.title}
    :css
      body {
        padding-top: 60px;
      }
    - if site.keywords
      %meta(name='keywords'){:content=>site.keywords}
    - if page.author
      %meta(name='author'){:content=>page.author}
    - if site.url
      %link(rel='canonical'){:href=>site.url}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"./stylesheets/styles.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"./stylesheets/highlight-7.5.min.css" }
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>'./javascripts/bootstrap-2.3.1.js' }
    %script{ :type=>'text/javascript', :src=>'./javascripts/highlight-7.5.min.js' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .github-banner
            %a{:href=>'https://github.com/selendroid/selendroid'}
              %img{:style=>'position: absolute; top: 0; right: 0; border: 0;z-index: 900;',
                :src=>'https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png',
                :alt=>'Fork me on GitHub'}
          %a.brand{ :href=>"http://selendroid.io" } #{site.title}
          %ul.nav
            %li
              %a{ :href=>"#{site.setup_page}" } Getting Started
            %li#getting-started-menu.dropdown
              %a.dropdown-toggle{"data-toggle"=>"dropdown", :href=>"#getting-started-menu"}
                Testing
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ :href=>"#{site.quick_start_page}"} Quick Start
                %li
                  %a{ :href=>"#{site.mobile_web_page}" } Mobile Web
                %li
                  %a{ :href=>"#{site.native_apps_page}" } Native Apps
                %li
                  %a{ :href=>"#{site.hybrid_apps_page}" } Hybrid Apps
                %li
                  %a{ :href=>"#{site.gestures_page}" } Gestures
                %li
                  %a{ :href=>"#{site.advanced_page}" } Advanced Topics
            %li
              %a{ :href=>"#{site.inspector_page}" } Inspector
            %li
              %a{ :href=>"#{site.scale_page}" } Scaling
            %li
              %a{ :href=>"#{site.faq_page}" } FAQ
            %li
              %a{ :href=>"#{site.architecture_page}" } Architecture

    .container
      ~ content
    %footer
      %ul.breadcrumb
        %li
          &copy; 2012 - #{Date.today.year}
          %a{ :href=>"#{site.ebay_software_foundation_page}" } <img src="images/ebay-logo.png"> software foundation
          |
        %li
          Maintained by
          %i.icon-user
          %a{ :href=>"#{site.contributors}" } Selendroid Authors
          |
        %li
          %a{ :href=>"#{site.mailing_list}" } Mailing List
          |
        %li
          %a{ :href=>"#{site.issue_tracker}" } Issue Tracker
    = google_analytics_async
    %script
      hljs.initHighlightingOnLoad();
